@media only screen and (min-width: 37.4em) {
    main{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        column-gap: 10px;
    }
    footer{
        grid-column: 1/3;
        grid-row: 3;
    }
    img{
        width: auto;
    }
    .section-3{
        grid-column: span 2;
    }
}